.pagination {
    height: 10vh;
    width: 100vw;
    border: 1px solid black;
    background-image: linear-gradient(to left, white, gray);
    display: flex;
    align-items: center;
    justify-content: center;
    .pagebtn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        font-weight: 700;
        border: 2px solid black;
        border-radius: 5px;
        margin: 0 10px;
        &:hover {
            box-shadow: 0 0 10px 5px rgb(0, 0, 0);
        }
        &.active {
            background-color: white;
            box-shadow: 0 0 10px 5px rgb(0, 0, 0);
        }
    }
    .prevbtn, .nextbtn {
        display: none;
        font-weight: 700;
        border-radius: 4px;
        padding: 0 4px;
        &:hover {
            box-shadow: 0 0 10px 5px rgb(0, 0, 0);
            background-color: white;
        }
        &.active {
            display: block;
        }
    }
}